<div id="lumberjack" class="tenor-gif-embed" data-postid="15510446" data-share-method="host" data-aspect-ratio="1" data-width="50%"><a href="https://tenor.com/view/flannel-lumberjack-beard-dancing-gif-15510446">Flannel Lumberjack GIF</a>from <a href="https://tenor.com/search/flannel-gifs">Flannel GIFs</a>
</div>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.body.append("mira si te aparecia una chota? tene cuidado salame");
  });
</script>
