<footer
    class="w-screen bg-firstColor text-white pt-5 md:flex md:items-center md:justify-between"
>
    <header class="flex flex-col font-bebas pl-5 md:pl-28 lg:pl-32 xl:pl-60">
        <h3 class="text-2xl">
            <span class="text-secondColor">.</span>DAGGER =
            <span class="text-secondColor">DOT</span> DAGGER
        </h3>
        <h6 class="text-[8.7px] tracking-wide text-secondColor">
            si no lo habias entendido, estudiá ingles vende patria
        </h6>
    </header>
    <nav
        class="py-5 px-5 md:pr-28 lg:pr-32 xl:pr-60 md:flex md:items-center gap-5"
    >
        <h3 class="font-bebas text-2xl top-[0.27rem] relative md:pr-5">
            navegación
        </h3>
        <ul
            class="text-lg font-extralight flex flex-col md:flex-row gap-2 pt-2"
        >
            <li>
                <a
                    href="#main-section"
                    class="hover:opacity-75 active:opacity-50">inicio</a
                >
            </li>
            <li>
                <a
                    href="#sobremi-section"
                    class="hover:opacity-75 active:opacity-50">sobre mí</a
                >
            </li>
            <li>
                <a
                    href="#proyectos-section"
                    class="hover:opacity-75 active:opacity-50">contenido</a
                >
            </li>
            <li>
                <a
                    href="#contacto-section"
                    class="hover:opacity-75 active:opacity-50">contacto</a
                >
            </li>
            <li class="md:pl-5">
                <a
                    href="/lumberjack"
                    target="_blank"
                    class="hover:opacity-75 font-bebas text-2xl group transition"
                >
                    <h3 class="absolute text-secondColor">lumberjack</h3>
                    <h3 class="relative right-[2px] bottom-[2px] text-white/30 duration-200 group-hover:right-0 group-hover:bottom-0">
                        lumberjack
                      </h3>
                </a>
            </li>
        </ul>
    </nav>
</footer>
