<section class="bg-firstColor md:px-40 lg:px-60 md:gap-5 w-screen pb-5 p-5 md:p-0">
        <div class="w-full flex justify-between flex-wrap md:flex-nowrap gap-5 md:gap-3 [&>article>h3]:text-lg [&>article>p]:text-white [&>article>p]:text-xs [&>article>p]:font-extralight [&>article>i]:font-extralight [&>article>i]:text-white [&>article>i]:text-xs">
            <article class="bg-firstColor flex flex-col gap-2 relative w-[40%]">
                <header class="flex items-center gap-2">
                    <img src="/university_of_nebraska_lincoln_logo.jpeg" alt="" width="20">
                    <h3 class="text-white font-bebas tracking-wide relative top-[1.2px]">University of Nebraska</h3>
                </header>
                <h4 class="text-sm text-secondColor">Leader Developer</h4>
                <p class="text-balance max-h-60">Full-stack (.NET, Java, MySQL, AWS) software development, dev team leading & systems design consulting</p>
                <i>Dic. 2020 hasta actualidad</i>
            </article>
            <article class="bg-firstColor flex flex-col gap-2">
                <header class="flex items-center gap-2">
                    <img src="/grupo-alpha.jpeg" alt="" width="20">
                    <h3 class="text-white font-bebas tracking-wide relative top-[1.2px]">Grupo Alpha</h3>
                </header>
                <h4 class="text-secondColor text-sm">Software Developer</h4>
                <p class="text-balance underline">ver detalles</p>
                <i class="pt-[14px]">Dic. 2020 hasta actualidad</i>
            </article>
            <article class="bg-firstColor flex flex-col gap-2">
                <header class="flex items-center gap-2">
                    <img src="/" alt="" width="20">
                    <h3 class="text-white font-bebas tracking-wide relative top-[1.2px]">Freelance</h3>
                </header>
                <h4 class="text-secondColor text-sm">Software Developer</h4>
                <p class="text-balance underline">ver detalles</p>
                <i class="pt-[14px]">Dic. 2020 hasta actualidad</i>
            </article>
            <article class="bg-firstColor flex flex-col gap-2">
                <header class="flex items-center gap-2">
                    <img src="/atento_logo.jpeg" alt="" width="20">
                    <h3 class="text-white font-bebas tracking-wide relative top-[1.2px]">Atento</h3>
                </header>
                <h4 class="text-secondColor text-sm">Help Desk Technician</h4>
                <p class="text-balance underline cursor-pointer w-fit">ver detalles</p>
                <i class="pt-[14px]">Ago. 2017 hasta Dic. 2018</i>
            </article>
        </div>
</section>
