---
import Youtube from "./Youtube.astro";
---

<section
  class="w-screen bg-firstColor flex flex-col lg:flex md:px-28 lg:px-32 xl:px-60 lg:flex-row md:pb-20 pt-5">
  <img src="./dagger.png" class="w-full h-96 sm:h-[50%] sm:px-5 md:px-0 lg:w-[25vw] xl:w-[20rem]" />
  <aside
    class="p-5 md:p-0 flex flex-col gap-3 px-5 [&>p]:text-balance text-white font-extralight md:text-xl lg:text-end items-end w-full">
    <p class="xl:max-w-2xl lg:max-w-xl selection:bg-secondColor selection:text-firstColor">
      Hablando posta, me dedico a contar <b>chistes de mierda</b> en YouTube pero también hablamos de
      <b>programación.</b>
    </p>
    <p class="lg:max-w-xl xl:max-w-4xl selection:bg-secondColor selection:text-firstColor">
      Me gradue de Analista en Sistemas y soy <b>Full-Stack Senior</b> con 86 años de experiencia, amante
      de <b>C#</b> y de los <b>gatubelas</b>, pero los de 2 patas no los de 4. Perdón, al revés.
    </p>
    <p class="xl:max-w-2xl lg:max-w-xl selection:bg-secondColor selection:text-firstColor">
      A veces me siento Paul Mccartney y me hago el que <b>toco la guitarra, canto</b> y un par de boludeces
      más. Pero uso un <b>pepino</b> como púa o como microfono, tremendo.
    </p>
    <footer class="flex lg:gap-10 items-center self-start lg:self-auto gap-2">
      <h3 class="font-base font-bebas lg:text-xl">Seguime en YouTube!</h3>
      <a href="" class="flex items-center gap-1 lg:gap-2 font-bebas hover:opacity-75 active:opacity-50 transition-opacity duration-200"><Youtube ancho="32" alto="24"/>Dot Dager</a>
      <a href="" class="flex items-center gap-1 lg:gap-2 font-bebas hover:opacity-75 active:opacity-50 transition-opacity duration-200"><Youtube ancho="32" alto="24"/>Dager Clips</a>

    </footer>
  </aside>
</section>

<style>
  b {
    color: #ffed89;
    font-weight: 300;
  }
</style>
